.nav {
  width: 100%;
  background: $bg;
}

.nav-list {
  display: flex;
  flex-direction: row;
  
  .nav-list-item a {
    display: block;
    padding: 10px;
    color: transparentize($fg, 0.5);
    
    &:hover {
      background-color: lighten($bg, 10%);
    }
    
    &.is-active {
      color: $fg;
      background-color: lighten($bg, 10%);
    }
  }
}
