html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

body {
  font-size: 1rem;
  font-weight: 400;
  font-family: $sans;
}

a {
  color: $primary;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}